#app{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #151515;
}

*{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
    margin: 10px;
    width: 90%;
    display: inline-block;
    background: #000;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
}

.left{
    float: left;
    left: 0px;
}

.right{
    float: right;
    right: 0px;
    background: #555;
}

html, body{
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.chatContainer{
    position: fixed;
    top: 0px;
    left: 0px;
    top: 0px;
    height: calc(100vh - 60px);
    position: fixed;
    width: 100%;
    overflow: auto;
}

.chatContainer .mensagens{
    width: 100%;
    height: calc(100vh - 60px);
    position: fixed;
    top: 0px;
    overflow: auto;
} 

.chatContainer .bottom{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    background: #1f1b1b;
}

.chatContainer .bottom input{
    width: 90vw;
    height: 80%;
    background-color: rgba(92, 92, 92, 0.2);
    color: #fff;
    border-radius: 7px;
    border: none;
    padding: 25px;
    outline: none;
}

.envio {
    background-color: transparent;
    border: none;
    border: 2px solid white;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    padding: 17px;
    width: fit-content;
    color: white;
    transition: .5s;
}

.envio:hover {
    border: 2px solid transparent;
    color: black;
    background-color: white;
}

.not{
    display: none;
}

.quem{
    position: fixed;
    top: 0px;
    height: 100%;
    background: rgba(0,0,0,.40);
    width: 100%;
    left: 0px;
    z-index: 1000;
}

.quem .form{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
}

.quem .form input
{
    border: none;
    outline: none;
    background: #fff;
    color: #151515;
    border-radius: 10px;
    padding: 10px;
}

.quem .form button{
    padding: 10px;
    outline: none;
    border: none;
}